[Unit]
Description=@service
After=network-online.target
Wants=network-online.target

[Service]
User=@user
ExecStart=@exec

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
