[Unit]
Description=@service
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
DynamicUser=yes

WorkingDirectory=/srv/@service
ExecStart=@exec

TemporaryFileSystem=/srv:ro
BindReadOnlyPaths=/srv/@service

Restart=on-failure
RestartSec=3s

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes

CapabilityBoundingSet=
AmbientCapabilities=

[Install]
WantedBy=multi-user.target
