*

# Git
!.gitignore
!.gitconfig

# Bash
!.bashrc
!.bash_aliases

# Extras
!.vimrc
!.inputrc

# Arbitrary dot files
!.files/
!.files/**

# Base config directory
!.config/

# Neovim config
!.config/nvim
!.config/nvim/**

# TidalCycles config
!.config/tidal
!.config/tidal/**

# Opencode config
!.config/opencode
!.config/opencode/**

