*

# Git
!.gitignore
!.gitconfig

# Core
!.rc
!.aliases

# Extras
!.vimrc
!.inputrc

# Arbitrary dot files
!.files/
!.files/**

# Base config directory
!.config/

# Neovim config
!.config/nvim
!.config/nvim/**

# Opencode config
!.config/opencode
!.config/opencode/**

