[alias]
    s = status
    a = add .
    r = reset
    c = commit
    p = push
    m = merge
    b = branch -av
    t = tag
    f = fetch
    l = log
    pl = pull
    co = checkout
    d = diff
    ds = diff --staged
    go = log --all --decorate --oneline --graph
    gr = log --all --decorate --graph --relative-date
    nuke = !git reset HEAD --hard && git clean -fd
    fire = !git add && git commit -m"FIRE!" && git push

[core]
    editor = "vi"

[include]
     path = .gitconfig.user

