*

# Git
!.gitignore
!.gitconfig

!.files/
!.files/**

!.rc
!.aliases

!.vimrc

# Base config directory.
!.config/

# Neovim config
!.config/nvim
!.config/nvim/**

# Opencode config
!.config/opencode
!.config/opencode/**

